<div class="px-10">
  <h1 class="textlg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, fugit iste molestias quis aperiam sunt beatae natus sint voluptatum illum odit autem aspernatur ullam? Quos assumenda neque eveniet quae ipsam!</p>
  <p class="text-xs"> Número de clientes: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"> </app-counter></p>
  <div>
    <app-wave-audio audioUrl="audio.mp3" />
  </div>
</div>
